<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Overture Group Inc.</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
    #app { height: 100vh; }
    .an { color: white;}
    .an:hover { color: gold;}
  </style>
</head>
<body style="font-family: Arial, Helvetica, sans-serif">
  <div id="app">
    <v-app>
        <v-toolbar dark app dense>
            <v-tooltip bottom>
                <v-toolbar-title slot="activator" @click="go('home')" style="cursor: pointer">OG</v-toolbar-title>
                <span>Home</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-tooltip bottom>
                  <v-btn  slot="activator" flat @click="go('projects')">Projects</v-btn>
                  <span>Project and Services</span>
              </v-tooltip>
              
              <v-tooltip bottom>
                 <v-btn flat slot="activator" @click="go('about')">About</v-btn>
                 <span>History/Principals</span>
              </v-tooltip>
            </v-toolbar-items>
          </v-toolbar>

            <div v-if="page=='home'" class="mt-5">
                <v-jumbotron :gradient="gradient" dark fill-height>
                    <v-container fill-height>
                        <v-layout align-center>
                        <v-flex text-xs-center>
                            <h3 class="display-4"> The Overture Group</h3>
                        </v-flex>
                        </v-layout>
                    </v-container>
                </v-jumbotron>
            </div> 

          <div v-if="page=='projects'" class="mt-5">
            <h1>Projects</h1>       
          </div> 

          <div v-if="page=='about'" class="ma-5">
            <v-container grid-list-md>
                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="profile">
                            <p>The Overture was formed in 1998 while Sam Otto and Rich Kacor were contracting to IBM.</p>
                            <p><a href="mailto:sam@overturegroup.com">Email Sam Otto</a></p>
                            <p><a href="mailto:rich_kacor@hotmail.com">Email Rich Kacor</a></p>
                        </div>
                    </v-flex>
                  </v-layout>
            </v-container>
          </div>  
      </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

  <script>
    //import colors from 'vuetify/es5/util/colors'

    Vue.use(Vuetify, {
        theme: {
            primary: '#0D47A1',
            secondary: '#90CAF9',
            accent: '#FFF59D' 
        }
    })      
    var app = new Vue({
      el: '#app',
      data: {
        page: 'home',
        gradient: 'to top, #0D47A1, #90CAF9'
      },
      methods: {
        go(p) {
            console.log('Setting page to ' + p)
            this.page = p
        },
      }
    })
  </script>
</body>
</html>